.book {
    background: white;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.book h1 {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 56px;
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 400;
}

.book h2 {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 17px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
}

.book p {
    font-weight: 400;
    line-height: 22px;
}

.content {
    background: #f2f2f2;
}