.book {
    background: white;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.book h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
}

.book h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
}

.content {
    background: #DADADA;
}